div {

}
span {
//	position: absolute;
//	display: inline-flex;
	text-align: center;
	min-width: 80px;
	min-height: 80px;
}

.t-header-solu {

}

.t-dataite {
	color: black;
    font-size:1.9em;
}

.t-datasolu {
	color: black;
    text-align: center!important;
//	padding-top: 5px;
//	padding-bottom: 5px;
	height: 12.5vh;
	font-size: 2.1em;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.t-header-up-corner {
	padding-left: .6em;
	font-size: 1.9em; /* old 27px */
	font-family: "Helvetica Neue", sans-serif;
//	height: 100%;
//	background-color: #337ab7;
	cursor: none;
	border: none;
	color: black;
}

.t-header-up {
	font-size: 1.9em; /* old 27px */
	font-family: "Helvetica Neue", sans-serif;
//	background-color: #337ab7;
	cursor: none;
	border: none;
	color: black;
	text-align: left;
	vertical-align: middle;
	word-break: break-all;
}

.t-danger {

	-moz-border-radius: 50px;
    border-radius: 50px;	
	color: #333;
	background-color: #d9534f;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    background-color: #337ab7;
}

#t-sidebar-left {
//	padding-left: .6em;
	text-align: center!important;
	font-size: 1.9em; /* old 27px */
}
