html, body, .container .t-datasolu {
    height: 100%;
    width: 100%;
    padding: 0;
	margin: 0;
}
span {
//	position: absolute;
//	display: inline-flex;
	text-align: center;
	min-width: 80px;
	min-height: 80px;
}

.t-header-solu {

}

.t-header-up-corner {
	padding-left: .6em;
	font-size: 1.9em; /* old 27px */
	font-family: "Helvetica Neue", sans-serif;
	height: 8.5vh;
	color: black;
}

.t-header-up {
	font-size: 1.9em; /* old 27px */
	height: 8.5vh;
	display: flex;
    align-items: center;
    justify-content: center;
	font-family: "Helvetica Neue", sans-serif;
	color: black;
	vertical-align: middle;
	word-break: break-all;
}

.t-dataite {
	color: black;
//    font-size:1.9em;
}

.t-datasolu {
	display: block;
	font-size: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
	color: black;
    text-align: center!important;
	height: auto;
    padding: 0;
	margin: 0;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.t-danger {	
	color: #333;
	background-color: #d9534f;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    background-color: #337ab7;
}

#t-sidebar-left {
	display: flex;
    align-items: center;
    justify-content: center;
	padding-left: .6em;
	text-align: center!important;
	font-size: 1.9em; /* old 27px */
	height: 12.5vh;
}

.t-dangerRound {
	-moz-border-radius: 50px;
    border-radius: 50px;
	color: #333;
	background-color: #d9534f;
}
