* {

}

html {

}

body {
  /*background-color: #428bca;*/
  background-color: #337ab7;
}

.btn {
  font-size: 1.7em; /* old 27px */
  font-family: "Helvetica Neue", sans-serif;
  height: 100%;
  layout-align: center center;
}

.jono {
  font-size: 2.1em; /* old 32px */
  font-weight: bold;
}

.header1 {
  font-size: 1.9em;
  font-weight: bold;
}

.header2 {
  font-size: 1.5em;
}

.label-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
}
.label {
	margin-left: 3px;
  font-size: 1.23em; /* old 30px */
  color: #fff;
  background-color: #6784ca;  
}

/*css to add back colours for labels and make use of the colours*/
.label-default {
  background-color: #999999;
}

.label-primary {
  background-color: #428bca;
}

.label-success {
  background-color: #5cb85c;
}

.label-info {
  background-color: #5bc0de;
}

.label-warning {
  background-color: #f0ad4e;
}

.label-danger {
  color: #333;
  background-color: #d9534f;
}

.label-white {
    /*color: #337ab7;
    background-color: #fff;*/
    color: #fff;
   background-color: #6784ca;
}
.red {
  background-color: red
}