* {

}

html {
  font-size: 20px;

}

.btn {
  font-size: 23px;

}

body {
  background-color: #428bca;
}

.label-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem; 
}
.label {
	margin-left: 3px;
}

/*css to add back colours for labels and make use of the colours*/
.label-default {
  background-color: #999999;
}

.label-primary {
  background-color: #428bca;
}

.label-success {
  background-color: #5cb85c;
}

.label-info {
  background-color: #5bc0de;
}

.label-warning {
  background-color: #f0ad4e;
}

.label-danger {
  color: #333;
  background-color: #d9534f;
}

.label-white {
    color: #337ab7;
    background-color: #fff;
}
