* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  position: relative;
  min-height: 100%;
}

body {
  background-color: #fff;
  margin-bottom: 60px;
}

li.active.que-data {
	min-width: 135px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
}

.container {
	width: auto;
	max-width: 1680px;
	padding: 0 15px;
}

img.center {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.bottom-right {
	position: relative;
	float: right;
}

.panel {
	background-color: rgba(221, 221, 221, 1);
	margin-right: 5px;
	margin-left: 20px;
}

.label-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem; 
}
.label {
	margin-left: 3px;
}

/*css to add back colours for labels and make use of the colours*/
.label-default {
  background-color: #999999;
}

.label-primary {
  background-color: #428bca;
}

.label-success {
  background-color: #5cb85c;
}

.label-info {
  background-color: #5bc0de;
}

.label-warning {
  background-color: #f0ad4e;
}

.label-danger {
  color: #333;
  background-color: #d9534f;
}

.label-white {
    color: #337ab7;
    background-color: #fff;
}