table {
	width: 100%; 
	height: 100%; 
	margin-left: auto; 
	margin-right: auto;
	font-size: 300%
}

td#header {
	width: 7%;
}
tr#header {
	height: 20%; 
	background-color: #c00000;;
}
td#corner {
	width: 23%;
	background-color: white;
}

td#left {
    color: #c00000;
	width: 23%;
	background-color: white;
}

td#data {
	text-align: center;
	width: 7%;
}

tr {
	height: 10%;
}

td {
	-moz-border-radius: 5px;
    border-radius: 5px;
}
.red {
	background-color: red;
}